/* HEADER  */

body {
  background-image: url(./images/background.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
button {
  padding: 4px;
}
header {
  padding: 16px 0 0 0;
}
.container-header {
  padding: 24px 0;
  margin: 0 auto;
  max-width: 1170px;
}
.container-nav {  
  background: rgba(237, 243, 246, 0.96) none repeat scroll 0 0;
}
.contain-nav {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 40px;
}
nav {
  display: flex;
  flex-direction: row;
}
.container-list > ul {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 16px;
}
.container-navicon {
  height: 40px;
  width: 36px;
  background: #5a6b72;
}
.navicon {
  padding: 8px 4px;
  height: 24px;
  filter: invert(100%) sepia(2%) saturate(7500%) hue-rotate(345deg) brightness(111%) contrast(114%);
}
.li-nav {
  list-style: none;
}
.li-nav > a {
  display: flex;
  flex-direction: row;
  gap: 4px;
  text-decoration: none;
  border-bottom: 2px solid #5a6b72;
  color: #5a6b72;
  font-weight: bold;
}
.li-nav > a:hover {
  border-bottom: 2px solid #e83f5f;
}
.li-nav > a:hover,
.li-nav > a > div > img:hover {
  color: #e83f5f;
  filter: invert(33%) sepia(77%) saturate(2563%) hue-rotate(327deg) brightness(96%) contrast(89%);
}
.contain-arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-down {
  height: 16px;
  filter: invert(42%) sepia(23%) saturate(280%) hue-rotate(152deg) brightness(89%) contrast(89%);
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#burger {
  width: 20px;
  height: 20px;
  display: none;
}
#burger:hover {
  cursor: pointer;
  filter: invert(40%) sepia(60%) saturate(3962%) hue-rotate(325deg) brightness(93%) contrast(95%);
}

@media (max-width: 1080px) {
  #burger {
    display: block;
  }
  nav {
    display: none;
  }
}

/* FIN HEADER  */
/* MAIN  */

.container-form {
  padding: 40px 0 40px 0;
  background: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
h1 {
  color: #e83f5f;
}
.contain-first-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* PUB  */

.section-pub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}
.container-pub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
}

.container-pub > img {
  width: 100%; 
  max-width: 240px;
  height: auto; 
}

@media (min-width: 480px) {
  .container-pub > img {
    width: calc(50% - 16px); 
  }
}

@media (min-width: 768px) {
  .container-pub > img {
    width: calc(33.33% - 16px); 
  }
}

@media (min-width: 1024px) {
  .container-pub > img {
    width: calc(25% - 16px); 
  }
}
.joke-pub {
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #e83f5f;
  background: rgba(232, 63, 95, 0.05);
}

/* WELCOME  */

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 16px;
}
.welcome h4 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.welcome h4.visible {
  opacity: 1;
}
.start {
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #e83f5f;
  background: rgba(232, 63, 95, 0.05);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.start.visible {
  opacity: 1;
}

/* SATISFACTION  */

.satisfaction {
  padding: 20px;
}
.container-checkbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.contain-check {
  display: flex;
  flex-direction: column;
}
.btn-check {
  margin-top: 20px;
}
#error {
  color: red;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container-checkbox {
    gap: 10px; 
  }

  .contain-check {
    flex-basis: 30%; 
    flex-grow: 1; 
    text-align: center; 
  }
}

/* QUESTION */

.question {
  padding: 20px;
}
.contain-question {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 8px;
}

/* INVEST  */

.container-invest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 10px;
}
.contain-angel {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  animation: angels 0.5s forwards;
  animation-delay: 3s;
}
@keyframes angels {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.angel {
  width: 60px;
  height: 60px;
}
.reverse-angel {
  transform: scaleX(-1);
}
.contain-img {
  margin: 20px 0;
}
.img-invest {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 16px;
  opacity: 0;
  transform: scale(0.8);
  animation: coucou 3s forwards;
}
@keyframes coucou {
  0% {
    opacity: 0;
    transform: scale(0.8);
  } 100% {
    opacity: 1;
    transform: scale(1);
    border: 3px solid goldenrod;
  }
}
.contain-input-invest {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}
.contain-select label {
  margin-bottom: 10px;
  font-size: 16px;
}
.contain-select select {
  padding: 4px;
  border: 1px solid #adaaaa;
  border-radius: 5px;
  font-size: 16px;
}
@media (max-width: 450px) {
  .contain-input-invest > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* FREE EXPRESSION  */

textarea {
  width: 300px;
  height: 250px;
}

/* END  */

.end {
  max-width: 1170px;
  padding: 10px 30px;
}

/* FOOTER  */

footer {
  background: rgba(237, 243, 246, 0.90) none repeat scroll 0 0;
  padding: 40px 20px;
}
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
#barre {
  width: 2px;
  height: 18px;
  background-color: #5a6b72;
}
.contain-pro > img {
  width: 24px;
  height: 24px;
}
.contain-logo-pro {
  display: flex;
  gap: 20px;
}
@media (max-width: 600px) {
  .container-footer {
    flex-direction: column;
    gap: 4px;
    text-align: center;
  }
  #barre {
    width: 18px;
    height: 2px;
    margin-bottom: 8px;
  }
}